*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155,184,155);

}
.work{
    width: 85%;
    height: 85%;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
#paneltop{
    height: 100px;
    width: 100%;
    background-color: rgb(72,104,72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}
.box{
    background-color: white;
}
.score{
    display: flex;
    align-items: center;
    gap: 10px; 
}
.elem{
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.box{
    padding: 8px 15px;
    color: rgb(18,119,57);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600px;
}
#panelbottom{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    padding-left: 28px;
    align-items: center;
    justify-content: center;
}
.bubble{
    background-color: rgb(72,104,72);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    transition: background-color 0.15s ease;
}
.bubble:hover{
    background-color: rgb(50, 75,50);
    cursor: pointer;
}
.game-over{
    font-size: 160px;
    color: rgb(18,119,57);
}
.Game-Over-Screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.score-display{
    font-size: 80px;
    font-weight: 500;
    color: rgb(18,119,57);
    text-decoration: underline;
}
.score-color{
    color:rgb(27, 128, 27);
}
.playagainbutton{
    font-size: 40px;
    padding: 15px;
    border: none;
    background-color:rgb(18,119,57);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 5px 10px 5px rgba(0,0,0,0.3);
}

.winning-color{
    background-color: rgb(27, 128, 27);
}
.winning-color:hover{
    background-color: rgb(27, 128, 27)
}
.Lossing-color{
    background-color: red;
}
.Lossing-color:hover{
    background-color: red;
}